<div class="grid three">

  <div class="column two">
    <div id="tube"></div>
  </div>

  <div class="column">
    <div id="sidebar">

      <div id="device-wrap">
        <ul class="tabs">
          <li class="active"><a href="#device"><i class="icon home"></i>&nbsp;</a></li>
        </ul>
        <div class="tab-content">
          <div class="group">
            <a ng-repeat="device in devices" ng-href="#/devices/{{device.id}}">
              <i class="icon video-camera"></i> <span ng-bind="device.id"></span>
              <span class="righted label {{device.status}}" ng-bind="device.status"></span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>