<div id="live-wrap">
  <ul class="tabs">
    <li class="active"><a href="#live">直播</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane">
      <button type="button" ng-click="">Push</button>
      <a class="button success" ng-click="live_rtmp(current_device.live.RTMP)">RTMP</a>
      <a class="button success" ng-click="live_hls(current_device.live.HLS)">HLS/M3U8</a>
    </div>
  </div>
</div>

<br>

<div id="vod-wrap">
  <ul class="tabs">
    <li class="active"><a href="#vod">点播</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="vod-list">
      <div class="group">

        <a ng-repeat="item in current_device.list" ng-click="vodM3U8(item['starttime'], item['endtime'])">
          <i class="icon clock-o"></i>
          {{item["starttime"] | date : 'yyyy-MM-dd HH:mm:ss'}} - {{item["endtime"] | date : 'yyyy-MM-dd HH:mm:ss'}}
        </a>
      </div>

    </div>
  </div>
</div>