<div class="grid three">

  <div class="column two">
    <div id="tube">
      <div id="player"></div>
    </div>
  </div>

  <div class="column">
    <div id="sidebar">

      <ul class="tabs">
        <li><a ng-href="#/devices"><i class="icon home"></i>&nbsp;</a></li>
        <li class="active"><a href="#">设备</a></li>
      </ul>

      <div class="alert {{device.status == 'disconnected' ? 'danger' : 'success'}}">
        <i class="icon video-camera"></i> <span ng-bind="device.udid"></span>
        <span class="righted label {{device.status}}" ng-bind="device.status"></span>
      </div>

      <ul class="tabs">
        <li class="active"><a href="#live">直播</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane">

          <button type="button" class="primary" ng-click="push(device.udid)" ng-disabled="device.status == 'connected'">{{pushStatusText}}</button>

          <button type="button" class="success" ng-disabled="device.status == 'disconnected'" ng-click="live_rtmp(device.live.RTMP)">RTMP</button>
          <button type="button" class="success" ng-disabled="device.status == 'disconnected'" ng-click="live_hls(device.live.HLS)">HLS/M3U8</button>
        </div>
      </div>

      <br>

      <ul class="tabs">
        <li class="active"><a href="#vod">回放</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="vod-list">
          <div class="group">

            <a ng-repeat="item in device.list" ng-click="vodM3U8(device.udid, item['starttime'], item['endtime'])" href="javascript:;">
              <i class="icon clock-o"></i>
              {{item["starttime"] | date : 'yyyy-MM-dd HH:mm:ss'}} - {{item["endtime"] | date : 'yyyy-MM-dd HH:mm:ss'}}
            </a>
          </div>

        </div>
      </div>


    </div>
  </div>

</div>